body {
	color: #FFFFFF;
	background: #000000;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	letter-spacing: 0.02em;
	word-spacing: 0.1em;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#VR {
	position: relative;
	margin: 0px;
	padding: 0px;
}
#container {
	height: 100vh;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	background-color: #000000;
	background-image: url('https://raw.githubusercontent.com/LearningMike/HVR/refs/heads/main/images/videopreview.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: -1;
	vertical-align: bottom;
}
#overview {
	position: fixed;
	z-index: 1;
	top: 20vh;
	left: 10vw;
}
#logo {
	width: 30vw;
	height: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#copywrite {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#youtube {
	position: relative;
	z-index: 2;
	padding: 10vw;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #000000;
	box-shadow: 0px -1px 50px 30px #000000;
}
#doctext {
	width: 35vw; 
	padding: 25px; 
	display: block;
}
#docembed {
	padding-left: 24px; 
	min-width: 35vw; 
	min-height: 19.687vw;
}
p {
	font-size: 18px;
	font-weight: light;
	margin: 0px;
}
#why {
	position: relative;
	z-index: 3;
	background-color: #000000;
	background-image: url('https://raw.githubusercontent.com/LearningMike/HVR/refs/heads/main/images/whyvrbg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 10vw;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
#why h2 {
	color: #fcf28c;
}
#whydiv {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.whyboxes {
	width: 30vw;
	padding: 20px;
	margin: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 25px 1px #22b2d7;
}
.whyboxes h3 {
	color: #22b2d7;
}
.whyboxes p {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-shadow: 0px 0px 3px #000000;
}
#tour {
	position: relative;
	z-index: 5;
	background: #000000;
	padding: 10vw;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
#tourdiv {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.tourboxes {
	width: 30vw;
	padding: 20px;
	margin: 20px;
	height: max-content;
}
#tourgif {
	width: 30vw;
	height: auto;
	border-radius: 15px;
}
#hvrte {
	width: 30vw;
	height: auto;
	border-radius: 15px;
}
#footer {
	position: relative;
	z-index: 6;
	background: #000000;
	padding: 10vw;
	padding-top: 50px;
	text-align: center;
	justify-content: center;
}
.button {
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 50px;
	background: #22b2d7;
	margin-top: 20px;
	margin-bottom: 50px;
	cursor: pointer;
	z-index: 6;
}

p a {
	color: #22b2d7;
    font-weight: bold;
	text-decoration: none;
}
p a:link {
    color: #22b2d7;
}
p a:visited {
    color: #22b2d7;
}
p a:active {
    color: #22b2d7;
}
p a:hover {
    color: #22b2d7;
	text-decoration: underline;
}


@media screen and (max-width: 768px) {
	#doctext {
		width: 70vw;
	}
	.whyboxes {
		width: 70vw;
	}
	#logo {
		width: 60vw;
	}
	#tourgif {
		width: 70vw;
	}
	#hvrte {
		width: 70vw;
	}
	.tourboxes {
		width: 70vw;
	}
}
